<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
	<style>
		.bg-debug {
			background-color: #abc4ff !important;
		}
		.bg-error {
			background-color: #ffabab !important;
		}
		.bg-info {
			background-color: #fff8ab !important;
		}
		.bg-null {
			background-color: #ededed !important;
		}
		.bg-warn {
			background-color: #ffcdab !important;
		}
		.inner-btn {
			margin-top: -11px;
			margin-left: -3px;
		}
		.sm-btn {
			height: 18px;
			width: 30px;
		}
		.tooltip-inner {
			white-space: pre-wrap;
		}
	</style>
</head>
<body>
	<div class="row" style="padding:10px;">
		<div class="accordion" id="accordionOptions">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOptions">
						<strong>Query Options</strong>
					</button>
				</h2>
				<div id="collapseOptions" class="accordion-collapse collapse show" data-bs-parent="#accordionOptions">
					<div class="accordion-body">
						<form method="get">
							<div class="row g-3">
								<div class="col-md-6" style="padding-right:30px;">
									<p class="lead">Filter results</p>
									{% for h, details in headers.items() %}
									<div class="row">
										<div class="col-sm-2 col-form-label">
											<label>{{ h }}</label>
										</div>
										<div class="col-sm-4">
											<select class="form-select" id="{{ h }}Operator" name="operator">
												{% if not details.has_selected %}
												<option selected></option>
												{% endif %}
												{% for val, optdetails in details.options.items() %}
													{% if optdetails.selected %}
													<option value="{{ val }}" selected>{{ optdetails.label }}</option>
													{% else %}
													<option value="{{ val }}">{{ optdetails.label }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
										<div class="col-sm-6">
											{% if details.const %}
											<input class="form-control" id="{{ h }}Constraint" name="constraint" type="text" value="{{ details.const }}">
											{% else %}
											<input class="form-control" id="{{ h }}Constraint" name="constraint" type="text">
											{% endif %}
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="col-md-2">
									<p class="lead">Show columns</p>
									<div class="row">
										{% for s in select %}
										<div class="form-check">
											{% if s in headers %}
											<input class="form-check-input" type="checkbox" name="select[]" id="{{ s }}" value="{{ s }}" checked>
											{% else %}
											<input class="form-check-input" type="checkbox" name="select[]" id="{{ s }}" value="{{ s }}">
											{% endif %}
											<label class="form-check-label" for="{{ s }}">{{ s }}</label>
										</div>
										{% endfor %}
									</div>
									<input type="hidden" id="select" name="select" value="">
								</div>
								<div class="col-auto">
									<div class="row">
										<p class="lead">Filter violations</p>
										<div class="row">
											<div class="col-md-6">
												<div class="form-check">
													{% if "debug" in violations %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="debug" value="debug" checked>
													{% else %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="debug" value="debug">
													{% endif %}
													<label class="form-check-label" for="debug">debug</label>
												</div>
												<div class="form-check">
													{% if "warn" in violations %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="warn" value="warn" checked>
													{% else %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="warn" value="warn">
													{% endif %}
													<label class="form-check-label" for="warn">warn</label>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-check">
													{% if "info" in violations %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="info" value="info" checked>
													{% else %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="info" value="info">
													{% endif %}
													<label class="form-check-label" for="info">info</label>
												</div>
												<div class="form-check">
													{% if "error" in violations %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="error" value="error" checked>
													{% else %}
													<input class="form-check-input" type="checkbox" name="violation[]" id="error" value="error">
													{% endif %}
													<label class="form-check-label" for="error">error</label>
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="padding-top: 20px;">
										<div class="col-auto">
											<label for="limitValue" class="col-form-label">Results per page</label>
										</div>
										<div class="col-auto">
											<select class="form-select" id="limitValue" name="limit">
												{{ options|safe }}
											</select>
										</div>
									</div>
									<div class="row" style="padding-top:20px;">
										<div class="col-auto">
											<a class="btn btn-secondary" href="javascript:reset()">Reset</a>
										</div>
										<div class="col-auto">
											<input type="button" onclick="submitForm();" class="btn btn-primary" value="Update">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<table class="table" id="sqlTable">
		<thead>
			<tr>
				{% for th in headers %}
				<th>
					<div class="row justify-content-between">
						<div class="col-auto">{{ th }}</div>
						<div class="col-auto">
							<div class="dropdown">
								<button class="btn btn-light dropdown-toggle" type="button" id="{{ th }}Dropdown" data-bs-toggle="dropdown"> </button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="javascript:sort('{{ th }}', false)">Ascending</a></li>
									<li><a class="dropdown-item" href="javascript:sort('{{ th }}', true)">Descending</a></li>
								</ul>
							</div>
						</div>
					</div>
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% set vars = {'row_num': 0} %}
			{% for row in rows %}
			{% if vars.update({'row_num': vars.row_num + 1}) %} {% endif %}
			<tr id="row{{ vars.row_num }}">
				{% set inner_vars = {'cell_num': 0} %}
				{% for itm in row %}
				{% if inner_vars.update({'cell_num': inner_vars.cell_num + 1}) %} {% endif %}
				{% if itm %}
					{% if itm["style"] and itm["message"] %}
						<td class="bg-{{ itm['style'] }}" id="td{{ vars.row_num }}-{{ inner_vars.cell_num }}" data-bs-toggle="tooltip" data-html="true" data-bs-placement="bottom" title="{{ itm['message'] }}">
							<div class="row justify-content-between">
								<div class="col-auto">{{ itm["value"] }}</div>
								<div class="col-auto">
									<a class="btn btn-light sm-btn" type="button" id="expand{{ vars.row_num }}" href="javascript:expand('{{ itm['style'].upper() }}', '{{ itm['message'] }}', {{ vars.row_num }}, {{ inner_vars.cell_num }})"><p id="expandInner{{ vars.row_num }}" class="inner-btn">+</p></a>
								</div>
							</div>
						</td>
					{% elif itm["style"] %}
						<td class="bg-{{ itm['style'] }}">{{ itm["value"] }}</td>
					{% else %}
						<td>{{ itm["value"] }}</td>
					{% endif %}
				{% else %}
				<td></td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="row" style="padding-left:10px; padding-right:10px;">
		<div class="col">
			{% if (limit + offset) > (rows|length + offset) %}
				<p class="fst-italic">Showing results {{ offset + 1 }}-{{ rows|length + offset }}</p>
			{% else %}
				<p class="fst-italic">Showing results {{ offset + 1 }}-{{ limit + offset }}</p>
			{% endif %}
		</div>
		<div class="col">
			<div class="float-end">
				{% if prev_url %}
				<a href="{{ prev_url }}">Previous</a>&nbsp;|&nbsp;
				{% endif %}
				<a href="{{ next_url }}">Next</a>
			</div>
		</div>
	</div>
	<div class="row" style="padding-left:10px; padding-right:10px;">
		<div class="col">
			<p>Download results: <a href="{{ this_url }}&format=tsv">tsv</a> | <a href="{{ this_url }}&format=csv">csv</a></p>
		</div>
	</div>

	<script>
		// Enable tooltips
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		  return new bootstrap.Tooltip(tooltipTriggerEl)
		})

		// Init headers
		var headers = [];
		{% for h in headers %}
		headers.push('{{ h }}');
		{% endfor %}

		function condense(level, msg, rowNum, cellNum) {
			document.getElementById(`expandedRow${rowNum}`).remove();

			// Add tooltip
			var td = document.getElementById(`td${rowNum}-${cellNum}`);
			td.setAttribute("data-bs-toggle", "tooltip");
			td.setAttribute("data-bs-placement", "bottom");
			td.setAttribute("data-bs-original-title", msg);
			td.setAttribute("title", msg);

			// Update btn
			var btn = document.getElementById(`expand${rowNum}`);
			btn.href = `javascript:expand('${level}', '${msg}', ${rowNum}, ${cellNum})`;
			var txt = document.getElementById(`expandInner${rowNum}`);
			txt.innerText = "+";
		}

		function expand(level, msg, rowNum, cellNum) {
			var row = document.getElementById(`row${rowNum}`);
			var newHtml = `<tr id="expandedRow${rowNum}">`;
			for (i=0; i < cellNum - 1; i++) {
				newHtml += "<td></td>";
			}
			newHtml += `<td>${level.toUpperCase()}: ${msg}</td>`
			row.insertAdjacentHTML('afterend', newHtml);

			// Remove tooltip
			var td = document.getElementById(`td${rowNum}-${cellNum}`);
			var tooltipID = td.getAttribute("aria-describedby");
			td.removeAttribute("data-bs-toggle");
			td.removeAttribute("data-bs-placement");
			td.removeAttribute("data-bs-original-title");
			td.removeAttribute("title");
			td.removeAttribute("aria-describedby");
			var tt = document.getElementById(tooltipID);
			tt.remove();

			// Update btn
			var btn = document.getElementById(`expand${rowNum}`);
			btn.href = `javascript:condense('${level}', '${msg}', ${rowNum}, ${cellNum})`;
			var txt = document.getElementById(`expandInner${rowNum}`);
			txt.innerText = "-";
		}

		function reset() {
			var url = window.location.href.split('?')[0];
			window.location.href = url;
		}

		function sort(col, desc) {
			// Get current parameters
			var qString = window.location.search;
			var params = new URLSearchParams(qString);
			var newParams = [];
			var newOrder = [];
			// Add all current params to new params, only add order keys that are not col
			for (var entry of params.entries()) {
				if (entry[0] !== "order") {
					newParams.push(`${entry[0]}=${entry[1]}`);
				} else {
					for (var ord of entry[1].split(",")) {
						if (!ord.startsWith(col + ".") && ord !== col) {
							newOrder.push(ord);
						}
					}				
				}
			}
			// Add this col to the order
			if (desc) {
				newOrder.push(col + ".desc");
			} else {
				newOrder.push(col);
			}
			// Redirect to new URL
			newParams.push("order=" + newOrder.join(","));
			if (newParams.length > 0) {
				window.location.href = "?" + newParams.join("&");
			}
		}

		function submitForm() {
			var args = []
			// Get the where options
			for (var h of headers) {
				var operator = document.getElementById(h + 'Operator').value;
				var constraint = document.getElementById(h + 'Constraint').value;
				if (operator && constraint) {
					args.push(h + "=" + operator + "." + constraint);
				}
			}

			// Get the select options
			var n = document.getElementsByName('select[]');
			var s = [];
			for (i=0; i < (n.length); i++) {
				if (n[i].checked) {
					s.push(n[i].value);
				}
			}
			if (s.length > 0) {
				args.push("select=" + s.join(","));
			}

			// Get the violation filters
			var n = document.getElementsByName('violation[]');
			var v = [];
			for (i=0;i < (n.length); i++) {
				console.log(n[i].checked);
				if (n[i].checked) {
					v.push(n[i].value);
				}
			}
			if (v.length > 0) {
				args.push("violations=" + v.join(","));
			}

			// Get the limit option
			var l = document.getElementById("limitValue").value;
			args.push("limit=" + l);

			// Redirect to new URL
			if (args.length > 0) {
				window.location.href = "?" + args.join("&")
			}
		}
	</script>
</body>
</html>
