{% extends "table.html" %}
{% block subcontent %}

<div class="row" style="padding-left:10px; padding-right:10px;">
	<div class="col">
		{% if rows %}
			{% set len = (rows|length + offset) %}
		{% else %}
			{% set len = offset + 1 %}
		{% endif %}
		{% if (limit + offset) > len %}
			<p class="fst-italic">Showing results {{ offset + 1 }}-{{ len }} of {{ total }}</p>
		{% else %}
			<p class="fst-italic">Showing results {{ offset + 1 }}-{{ limit + offset }} of {{ total }}</p>
		{% endif %}
	</div>
	<!-- Pagination -->
	<div class="col">
		<div class="float-end">
			{% if prev_url %}
			<a href="{{ prev_url }}">Previous</a>
			{% endif %}
			{% if prev_url and next_url %}
			&nbsp;|&nbsp;
			{% endif %}
			{% if next_url %}
			<a href="{{ next_url }}">Next</a>
			{% endif %}
		</div>
	</div>
</div>

<table class="table" id="sqlTableHorizontal">
	<thead>
		<tr>
			{% if include_expand %} <th/> {% endif %}
			{% for th in headers %}
			<th>
				<div class="row justify-content-between">
					<div class="col-auto gy-1">{{ th }}</div>
					<div class="col-auto">
						<div class="dropdown">
							<a class="btn" type="button" id="{{ th }}Sort" href="javascript:sort('{{ th }}')">
								{% if th in sort_asc %}
								<i class="bi-arrow-up"></i>
								{% elif th in sort_desc %}
								<i class="bi-arrow-down"></i>
								{% else %}
								<i class="bi-arrow-down-up"></i>
								{% endif %}
							</a>
						</div>
					</div>
				</div>
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% set vars = {'row_num': 0} %}
		{% for row in rows %}
		{% if vars.update({'row_num': vars.row_num + 1}) %} {% endif %}
		<tr id="row{{ vars.row_num }}">
			{% if row["hide_in_row"] %}
				<!-- Hidden elements to include in the row, e.g. custom row_number elements -->
				{% for key, value in row["hide_in_row"].items() %}
				<td id="{{ key }}{{ vars.row_num }}" style="display: none;">{{ value }}</td>
				{% endfor %}
			{% endif %}
			<!-- Track the cell numbers within this row -->
			{% set inner_vars = {'cell_num': 0} %}
			{% if include_expand %}
			<!-- Show a plus button at the start of the row to switch to vertical view -->
			<td>
				<a class="btn btn-sm" id="vert{{ vars.row_num }}" href="javascript:showVertical({{ vars.row_num }}, {{ offset }})"><i class="bi-plus-lg" style="color: #adb5bd;"></i></a>
			</td>
			{% endif %}
			{% for th in headers %}
			{% set cell = row["cells"][th] %}
			{% if inner_vars.update({'cell_num': inner_vars.cell_num + 1}) %} {% endif %}
			{% if cell %}
				<!-- Each cell can have a style (in CSS) and a message (displayed as tooltip) -->
				{% if cell["style"] and cell["message"] %}
					<td class="bg-{{ cell['style'] }}" id="td{{ vars.row_num }}-{{ inner_vars.cell_num }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="{{ cell['message'] }}">
						<div class="row justify-content-between">
							<div class="col-auto gy-1" id="value{{ vars.row_num }}-{{ inner_vars.cell_num }}">
								{{ cell["value"]|safe }}
							</div>
							<div class="col-auto">
								<a class="btn btn-sm" id="expand{{ vars.row_num }}-{{ inner_vars.cell_num }}" href="javascript:expand('{{ cell['style'] }}', '{{ cell['message'] }}', {{ vars.row_num }}, {{ inner_vars.cell_num }})"><i class="bi-plus"></i></a>
							</div>
						</div>
					</td>
				{% elif cell["style"] %}
					<td class="bg-{{ cell['style'] }}">{{ cell["value"]|safe }}</td>
				{% else %}
					<td>{{ cell["value"]|safe }}</td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="row" style="padding-left:10px; padding-right:10px;">
	<div class="col">
		{% if rows %}
			{% set len = (rows|length + offset) %}
		{% else %}
			{% set len = offset + 1 %}
		{% endif %}
		{% if (limit + offset) > len %}
			<p class="fst-italic">Showing results {{ offset + 1 }}-{{ len }} of {{ total }}</p>
		{% else %}
			<p class="fst-italic">Showing results {{ offset + 1 }}-{{ limit + offset }} of {{ total }}</p>
		{% endif %}
	</div>
	<!-- Pagniation -->
	<div class="col">
		<div class="float-end">
			{% if prev_url %}
			<a href="{{ prev_url }}">Previous</a>
			{% endif %}
			{% if prev_url and next_url %}
			&nbsp;|&nbsp;
			{% endif %}
			{% if next_url %}
			<a href="{{ next_url }}">Next</a>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}