{% extends "table.html" %}
{% block subcontent %}

<div class="row justify-content-end px-0 py-2">
	<div class="col-auto">
		<a class="btn btn-outline-primary" href="javascript:reset()">Reset</a>
	</div>
	<div class="col-auto">
		<div class="btn-group">
			<a href="javascript:violations('error')" class="btn btn-outline-primary bg-error">Error</a>
			<a href="javascript:violations('warn')" class="btn btn-outline-primary bg-warn">Warning</a>
			<a href="javascript:violations('info')" class="btn btn-outline-primary bg-info">Info</a>
			<a href="javascript:violations('debug')" class="btn btn-outline-primary bg-debug">Debug</a>
		</div>
	</div>
	<!-- Pagniation -->
	<div class="col-auto px-0">
		{% if rows %}
			{% set len = (rows|length + offset) %}
		{% else %}
			{% set len = offset + 1 %}
		{% endif %}
		<div class="btn-group">
			{% if urls["prev"] %}
				<a href="{{ urls['first'] }}" class="btn btn-outline-primary">first</a>
				<a href="{{ urls['prev'] }}" class="btn btn-outline-primary">prev</a>
			{% else %}
				<a href="#" class="btn btn-outline-secondary disabled">first</a>
				<a href="#" class="btn btn-outline-secondary disabled">prev</a>
			{% endif %}

			<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateLoc">
				{% if (limit + offset) > len %}
				{{ offset + 1 }}-{{ len }} of {{ total }}
				{% else %}
				{{ offset + 1 }}-{{ limit + offset }} of {{ total }}
				{% endif %}
			</button>
			{% if urls["next"] %}
				<a href="{{ urls['next'] }}" class="btn btn-outline-primary">next</a>
				<a href="{{ urls['last'] }}" class="btn btn-outline-primary">last</a>
			{% else %}
				<a href="#" class="btn btn-outline-secondary disabled">next</a>
				<a href="#" class="btn btn-outline-secondary disabled">last</a>
			{% endif %}
		</div>
	</div>
</div>

<table class="table" id="sqlTableHorizontal">
	<thead>
		<tr>
			{% if include_expand %} <th/> {% endif %}
			{% for th in headers %}
			<th class="px-0">
				<button type="button" class="btn btn-link fw-bold" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#{{ th | replace(' ', '_') }}Modal">{{ th }}</button>
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% set vars = {'row_num': 0} %}
		{% for row in rows %}
		{% if vars.update({'row_num': vars.row_num + 1}) %} {% endif %}
		<tr id="row{{ vars.row_num }}" class="align-items-center">
			<!-- Hidden elements to include in the row, e.g. custom row_number elements -->
			{% if row["row_key"] %}
			<td id="pk{{ vars.row_num }}" style="display: none;">{{ row["row_key"] }}</td>
			{% endif %}
			<!-- Track the cell numbers within this row -->
			{% set inner_vars = {'cell_num': 0} %}
			{% if include_expand %}
			<!-- Show a plus button at the start of the row to switch to vertical view -->
			<td>
				<a class="btn btn-sm" id="vert{{ vars.row_num }}" href="javascript:showVertical({{ vars.row_num }}, {{ offset }})"><i class="bi-plus-lg" style="color: #adb5bd;"></i></a>
			</td>
			{% endif %}
			{% for th in headers %}
			{% set cell = row["cells"][th] %}
			{% if inner_vars.update({'cell_num': inner_vars.cell_num + 1}) %} {% endif %}
			{% if cell %}
				{% if cell["value"]|length > 100 and " " not in cell["value"] %}
					{% set extra_class = " long-word" %}
				{% else %}
					{% set extra_class = "" %}
				{% endif %}
				<!-- Each cell can have a style (in CSS) and a message (displayed as tooltip) -->
				{% if cell["style"] and cell["message"] %}
					<td class="bg-{{ cell['style'] }}{{ extra_class }}" id="td{{ vars.row_num }}-{{ inner_vars.cell_num }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="{{ cell['message'] }}">
						<div class="row justify-content-between">
							<div class="col-auto gy-1" id="value{{ vars.row_num }}-{{ inner_vars.cell_num }}">
								{{ cell["value"]|safe }}
							</div>
							<div class="col-auto">
								<a class="btn btn-sm" id="expand{{ vars.row_num }}-{{ inner_vars.cell_num }}" href="javascript:expand('{{ cell['style'] }}', '{{ cell['message'] }}', {{ vars.row_num }}, {{ inner_vars.cell_num }})"><i class="bi-plus"></i></a>
							</div>
						</div>
					</td>
				{% elif cell["style"] %}
					<td class="bg-{{ cell['style'] }}{{ extra_class }}">{{ cell["value"]|safe }}</td>
				{% else %}
					<td class="{{ extra_class }}">{{ cell["value"]|safe }}</td>
				{% endif %}
			{% else %}
			<td></td>
			{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% for th in headers %}
<div class="modal fade" id="{{ th | replace(' ', '_') }}Modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ th }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row justify-content-center">
					<div class="btn-group">
						<a href="javascript:sort('{{ th }}', 'asc')" class="btn btn-outline-primary">Sort A-Z</a>
						<a href="javascript:sort('{{ th }}', 'desc')" class="btn btn-outline-primary">Sort Z-A</a>
					</div>
				</div>
				<hr/>
				<div class="row">
					<a href="javascript:hide('{{ th }}')"><i class="bi-eye-slash"></i> Hide column</a>
				</div>
				<hr/>
				<div class="row"><div class="col-auto pb-2">Filter by condition</div></div>
				<div class="row">
					{% set details = headers[th] %}
					<div class="col-md-5">
						<select class="form-select" id="{{ th | replace(' ', '_') }}Operator" name="operator">
							{% if not details.has_selected %}
							<option selected></option>
							{% endif %}
							{% for val, optdetails in details.options.items() %}
								{% if optdetails.selected %}
								<option value="{{ val }}" selected>{{ optdetails.label }}</option>
								{% else %}
								<option value="{{ val }}">{{ optdetails.label }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="col-md-7">
						{% if details.const %}
						<input class="form-control" id="{{ th | replace(' ', '_') }}Constraint" name="constraint" type="text" value="{{ details.const }}">
						{% else %}
						<input class="form-control" id="{{ th | replace(' ', '_') }}Constraint" name="constraint" type="text">
						{% endif %}
					</div>
				</div>
			</div>
			<div class="modal-footer">
        		<a type="button" class="btn btn-sm btn-primary" href="javascript:submitForm('{{ th }}')">Update</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}