{% extends "base.html" %}
{% block content %}

{% block subcontent %}
{% endblock %}

<div class="row justify-content-between pe-0 py-2 mb-5">
	<div class="col-auto">
		{% if not urls["this"].endswith('?') %}
			{% set this_url = urls["this"] + '&' %}
		{% else %}
			{% set this_url = urls["this"] %}
		{% endif %}
		<p>Download results: <a href="{{ this_url }}format=tsv">tsv</a> | <a href="{{ this_url }}format=csv">csv</a></p>
	</div>
	<!-- Pagniation -->
	<div class="col-auto px-0">
		{% if rows %}
			{% set len = (rows|length + offset) %}
		{% else %}
			{% set len = offset + 1 %}
		{% endif %}
		<div class="btn-group">
			{% if urls["prev"] %}
				<a href="{{ urls['first'] }}" class="btn btn-outline-primary">first</a>
				<a href="{{ urls['prev'] }}" class="btn btn-outline-primary">prev</a>
			{% else %}
				<a href="#" class="btn btn-outline-secondary disabled">first</a>
				<a href="#" class="btn btn-outline-secondary disabled">prev</a>
			{% endif %}

			<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateLoc">
				{% if (limit + offset) > len %}
				{{ offset + 1 }}-{{ len }} of {{ total }}
				{% else %}
				{{ offset + 1 }}-{{ limit + offset }} of {{ total }}
				{% endif %}
			</button>
			{% if urls["next"] %}
				<a href="{{ urls['next'] }}" class="btn btn-outline-primary">next</a>
				<a href="{{ urls['last'] }}" class="btn btn-outline-primary">last</a>
			{% else %}
				<a href="#" class="btn btn-outline-secondary disabled">next</a>
				<a href="#" class="btn btn-outline-secondary disabled">last</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="modal fade" id="updateLoc" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Show Results</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row py-2">
					<div class="col-md-4">
						<label class="col-form-label">Results per page</label>
					</div>
					<div class="col-auto">
						<input type="number" id="limitValue" class="form-control" value="{{ limit }}">
					</div>
				</div>
				<div class="row py-2">
					<div class="col-md-4">
						<label class="col-form-label">Jump to row</label>
					</div>
					<div class="col-auto">
						<input type="number" class="form-control" id="offsetValue" value="{{ offset + 1 }}">
					</div>
				</div>
			</div>
			<div class="modal-footer">
        		<a type="button" class="btn btn-sm btn-primary" href="javascript:updateLoc()">Update</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}