{% extends "table.html" %}
{% block subcontent %}

<div class="row" id="sqlTableVertical" style="padding-bottom:5px;">
    {% for header in headers %}
    {% set cell = row[header] %}
    <div class="row border-bottom align-items-center">
        <div class="col-md-3">
            <div class="row">
                <div class="col-auto">
                    <b>{{ header }}</b>
                    {% if descriptions and header in descriptions %}
                    <button class="btn" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ descriptions[header] }}"><i class="bi-question-circle"></i></button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if cell["value"]|length > 100 and " " not in cell["value"].strip() %}
            {% set extra_class = " long-word" %}
        {% else %}
            {% set extra_class = "" %}
        {% endif %}
        {% if cell["style"] and cell["message"] %}
        <div class="col-md-9 bg-{{ cell['style'] }}{{ extra_class }}" data-bs-toggle="tooltip" data-html="true" data-bs-placement="bottom" title="{{ cell['message'] }}">{{ cell["value"]|safe }}</div>
        {% elif cell["style"] %}
        <div class="col-md-9 bg-{{ cell['style'] }}{{ extra_class }}">{{ cell["value"]|safe }}</div>
        {% else %}
        <div class="col-md-9{{extra_class}}">{{ cell["value"]|safe }}</div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}